
@font-face
{
    font-family: elysium;
    src: url(Exo-Light.otf);
}

body
{
    margin:0;
    padding:0;
    font-family: "Helvetica Neue Light", "Lucida Grande", "Calibri", "Arial", sans-serif;
    font-weight:lighter;
    font-size: 14px;
    background-color:#231f20;
    /*font-family: elysium;*/
}

.ActivityGraphAxis path,
.ActivityGraphAxis line {
    fill: none;
    stroke: white;
    shape-rendering: crispEdges;
}

.ActivityGraphAxis text {
    font-family: elysium;
    font-size: 9px;
    fill: black;
}

.ActivityGraphTitle {
    font-family: elysium;
    font-size: 14px;

}


#mainVisualization {
    
    border-bottom: dotted 1px white;
    padding-bottom:10px;
    width:70%;
    overflow:hidden;
    display:inline-block;
    background-color:#231f20;
    margin-top:5px;
}

#userVisualizations {
   
   border: dotted 1px white;
    padding:10px;
  display:inline-block;
  border: none;
  background-color: #231f20;
  color:white;

}

#userVisualizations .user_text{
    fill:white;
    font-size:8px;
}



#userVisualizations text{
    
    font-size:8px;
}
#userVisualizations .user_rect_button2,#userVisualizations .user_rect_button1, #userVisualizations .user_surrounding_rect{
    fill:#00495a;
    stroke:#313131;
}

#userVisualizations  rect.selected
{
    fill:#00daee;
     stroke:#313131;
}

#userVisualizations  rect.unselected
{
    fill:#00495a;
     stroke:#313131;
}








#content
{
     color:black;
     background-color: #505050;
   font-size:8px;
    width:200px;
    color:white;
    
    float:left;
    min-height: 100px;
    margin-left:5px;
    padding-left:10px;
     padding-top:10px;
}

#content .content_data
{
   
}

#content .content_data img
{
   float:left;
   margin-right:10px;
   max-height: 250px;
}

#content .content_data video
{
   float:left;
   margin-right:10px;
   max-height: 250px;
}

#filters
{
   
   margin-left:1164px;
   width:350px;
   
    border: solid 1px grey;
  
}

#filters ul
{
    display:inline;
    padding:0;
    font-size:8px;

    
}

#filters li{
    display:inline-block;
    color:white;
    padding:2px;
    margin:2px;
    border:solid 1px #313131;
    background-color:#00495a;
   
}


#filters li.selected{
    display:inline-block;
    color:black;
    background-color: #80cff4;
    border:solid 1px #80cff4;
}

